{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Search Engine Optimization (SEO)-->
    <meta name="description" content="Techy Software's portfolio showcasing web product interfaces and services.">
    <meta name="keywords" content="software, portfolio, Techy software, web products, artificial intelligence ">
    <meta name="author" content="VIGNESH">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.Techysoftware.com/about">
    <title>Techy Software Company | Transforming Ideas into Reality</title>


    <!--Bootstrap File link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css">

    <!--google font link-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
    <style>
      body {
        font-family: "Poppins", sans-serif;
        text-align: center;
        background: linear-gradient(135deg, #6a5acd, #00bfff); /* Blue to Purple gradient */
        color: white; /* Make text color white for better contrast */
      }      
      
      h1, h2 {
        margin-bottom: 20px;
      }
      
      #about {
        padding: 20px;
        border-radius: 8px;
      }
      
      #home{
        background: url('{% static "images/banner.jpeg" %}') no-repeat center center;
        background-size: cover; 
        width:100%;
        backdrop-filter: blur(10px);
        height: 580px;
        margin-top: 60px;
      }
      .bannertext {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 580px;
        width: 100%;
        background-color: rgba(20, 20, 20, 0.33);
        background: #10101078;
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.6px);
        -webkit-backdrop-filter: blur(0.6px);
        border: 1px solid rgba(234, 234, 234, 0.61);
      }
      .h1 {
        font-size: 40px;
        font-weight: 900;
        text-shadow: 3px 4px 3px rgba(0,0,0,0.53);
        -webkit-text-stroke: 2pt black;
      }

      .h2{
        -webkit-text-stroke: 1pt black;
     }
      
      .ourwork {
        margin-top: 20px;
        background-color: whitesmoke;
      }

      #wcu {
        padding: 20px;
        border-radius: 8px;
      }
      
      .social-media img {
        width: 40px; 
        height: 40px; 
        border-radius: 50%; 
        margin: 0 5px; 
      }

      .social-media img:hover {
        border-color: #66afe9;
        box-shadow: -1px -2px 24px 3px rgba(0,255,255,1);
        transition: 2s;
      }

      .navbar {
        transition: background-color 0.5s; 
      }

      .navbar:hover {
        background-color: rgba(0, 0, 0, 0.5); 
      }

      .card { 
        transition: transform 0.3s, box-shadow 0.3s; 
      }

      .card:hover {
        transform: scale(1.05); 
        transition: 1s;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
      }

      .btn-primary {
        transition: background-color 0.3s; 
      }

      .btn-primary:hover {
        background-color: #0056b3; 
      }
    </style>
   
  <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>
<body>
    <header class=" justify-content-center align-items-center">
        <div class="container-fluid head" >
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
                <div class="container">
                    <!-- logo -->
                  <a class="navbar-brand fs-4" href="#">Techy Softwares</a>

                  <!-- toggle button -->
                  <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <!--side bar-->
                  <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Techy Softwares</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item mx-2">
                          <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{% url 'about' %}">About us</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{% url 'service' %}">Product/Service</a>

                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link px-3 py-1  rounded-4" style="background-color: #1871ff; color:white;" href="#social">Our Social Media Presence</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
            </nav>
        </div>
        <section id="home" class="banner_wrapper ">
          <div class="bannertext">
            <div>
              <p class="h1">Transforming your ideas into reality through cutting-edge software development.</p>
              <br>
              <p class="h3">Unlock your business potential with seamless integration and exceptional IT solutions.</p>
              <br>
              <a href="{% url 'service' %}" class="btn btn-primary " >Learn More </a>
            </div>            
          </div>
        </section>
    </header>
    <main>
      <div class="container-fluid" data-aos="fade-up" id="about">
        <div class="about_us bg-white p-5 rounded">
          <p class="h2 text-dark">ABOUT US</p><br>
          <div class="abt_detail row">
            <img src="{% static 'images/business.jpg' %}" alt="Description of image" class="img-fluid rounded col-sm-6" style="max-width: 600px;">
            <div class="col-sm-6">
              <p class="text-dark  h5">Who We Are ?</p>
              <div class="p-2 text-dark">At Techy Software, we are a dynamic team of technology enthusiasts committed to transforming businesses through innovative software solutions. Founded with the belief that technology can unlock immense potential, we leverage our expertise to deliver high-quality products tailored to our clients' unique challenges.</div>
              <div class="p-2 text-dark"> Our journey began with a shared passion for technology and a desire to make a positive impact in the digital landscape. Since our inception, we have grown into a diverse group of professionals, each bringing a wealth of knowledge and experience from various industries. This diversity fuels our creativity and allows us to approach problems from multiple perspectives, ensuring that we find the best solutions for our clients.</div>
            </div>
          </div> 
          <div class="container-fluid m-2">
            <div class="container row">
              <div class="col-sm-6 mb-3 mb-sm-0" data-aos="fade-right">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">OUR MISSION</h5>
                    <p class="card-text">Our mission is simple: to empower businesses with technology.  We strive to create software solutions that not only solve problems but also drive growth and enhance efficiency. By leveraging the latest technologies, we aim to help our clients navigate the ever-evolving digital landscape.</p>
                    <a href="{% url 'about' %}" class="btn btn-primary">MORE</a>
                  </div>
                </div>
              </div>
              <div class="col-sm-6" data-aos="fade-left">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">OUR VISION</h5>
                    <p class="card-text">Our vision drives our decisions and inspires our actions every day.Contributing to long-term success while promoting responsible technology use. As we move forward, we remain dedica
                      ted to realizing this vision, empowering our clients and the communities we serve through technology that matters.</p>
                    <a href="{% url 'about' %}" class="btn btn-primary">MORE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>            
        </div>
      </div>
      <div class="container-fluid mt-2" style="padding: 20px;">
        <div class="ourwork text-center rounded p-4" data-aos="fade-down">
          <p class="h2 text-dark">OUR SERVICES</p>
          <div class="row row-cols-1 row-cols-md-3 g-4 ">
            <div class="col-sm-4" data-aos="flip-left">
              <div class="card h-100">
                <img src="{% static 'images/software.jpg' %}" class="card-img-top" alt="our work"> 

                <div class="card-body">
                  <h5 class="card-title">Software Development</h5>
                  <p class="card-text">At Techy Solution, we specialize in creating custom software solutions that empower businesses to achieve their unique goals. Our dedicated team of developers, designers, and strategists work closely with you to deliver high-quality software tailored to your specific needs.</p>
                </div>
                <div class="card-footer">
                  <a class="text-body-secondary" href="{% url 'potential_customer' %}">Know More</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4" data-aos="flip-up">
              <div class="card h-100">
                <img src="{% static 'images/web-dev.jpeg' %}" class="card-img-top" alt="our work">
                <div class="card-body">
                  <h5 class="card-title">Web Development</h5>
                  <p class="card-text">At Techy Solution, we specialize in delivering high-quality web development services tailored to meet your business needs. Our team of experienced developers and designers collaborates closely with you to create responsive, user-friendly websites and applications that drive engagement and conversions.</p>
                </div>
                <div class="card-footer">
                  <a class="text-body-secondary" href="{% url 'potential_customer' %}">Know More</a>
                </div>
              </div>
            </div>
            <div class="col-sm-4" data-aos="flip-right">
              <div class="card h-100">
                <img src="{% static 'images/cloud.jpg' %}" class="card-img-top" alt="our work">
                <div class="card-body">
                  <h5 class="card-title">Cloud Services</h5>
                  <p class="card-text">At Techy Solution, we offer comprehensive cloud services designed to help businesses leverage the power of the cloud for greater efficiency, scalability, and innovation. Our expert team guides you through every stage of your cloud journey, ensuring a seamless transition and ongoing support.</p>
                </div>
                <div class="card-footer">
                  <a class="text-body-secondary" href="{% url 'potential_customer' %}">Know More</a>
                </div>
              </div>
            </div>
          </div>
          <a href="{% url 'service' %}" class=" text-decoration-none  badge fs-5 bg-primary m-2">More Services</a>
        </div>
      </div>
      <div class="container-fluid " id="wcu">
          <div class="about_us bg-white p-5 rounded">
          <h2 class="text-center text-dark">Why Choose Us?</h2>
          <div class="row">
              <div class="col-md-4" data-aos="fade-left">
                  <div class="card mt-2 mb-2">
                      <div class="card-body">
                          <h5 class="card-title">Expert Team</h5>
                          <p class="card-text">Our team consists of experienced professionals with a proven track record in software development. Each member brings unique skills and insights, collaborating effectively to solve complex problems. ensuring the highest quality results for our clients.</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4" data-aos="fade-up">
                  <div class="card mt-2 mb-2">
                      <div class="card-body">
                          <h5 class="card-title">Innovative Solutions</h5>
                          <p class="card-text">We provide innovative and customized solutions tailored to meet your specific needs. Our team stays ahead of industry trends, utilizing the latest technologies to deliver cutting-edge products. We focus on scalability and efficiency, ensuring that our solutions grow with your business.</p>

                      </div>
                  </div>
              </div>
              <div class="col-md-4" data-aos="fade-right">
                  <div class="card mt-2 mb-2">
                      <div class="card-body">
                          <h5 class="card-title">Customer Support</h5>
                          <p class="card-text">Our dedicated support team is available 24/7 to assist you with any queries or issues. We prioritize prompt responses and solutions, ensuring your experience is smooth and seamless. Whether it's troubleshooting or updates, we're here to help every step of the way.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>

      <!--Contact form section-->
      <!-- Contact Form Section -->
      <section class="container-fluid mt-2" style="padding: 20px;">
        <div class=" bg-light rounded p-4">
          <h1 class="mt-5 text-dark">Welcome to Our Website</h1>
          <div class="container mt-5">
            <div class="card p-4">
              <div class="card-body">
                <address class=" 
                badgetext-left">
                <h2 class="mb-4 text-center text-decoration-underline">Contact Us</h2>
                        <strong>Techy Software Company</strong><br>
                        Office No. 101,<br>
                        Tech Park, 5th Floor,<br>
                        123 Tech Lane,<br>
                        Near MG Road,<br>
                        Bangalore, Karnataka 560001,<br>
                        India<br>
                        <strong>Email:</strong> <a href="mailto:vigneshvignesh0822@gmail.com" class="text-dark text-decoration-none">vigneshvignesh0822@gmail.com</a><br>
                        <strong>Phone:</strong> <a href="tel:+919344060698" class="text-dark text-decoration-none">+91 9344060698</a><br>
                        <strong>Website:</strong> <a href="#" target="_blank" class="text-dark text-decoration-none">www.Techyoftware.com</a>
                      </address>
                      <hr>
                      <p>Fill out the form below to share your details, and we'll get back to you shortly!</p>
                      <p  class="h4 fw-b" >You have Business.we have Strategy.<br> Grow your Business With US <br> <a href="{% url 'potential_customer' %}" class="btn btn-success m-2">Interested in Our Services? Let Us Know!</a></p>
                      <br>
                      <h3 >Your Feedback Matters</h3>
                    <p class="h4 fw-b">We strive to improve our services and would love to hear your thoughts. Please take a moment to share your feedback!<br> <a href="{% url 'contact' %}" class="btn btn-primary m-2">Give Feedback</a></p>
                </div>
            </div>
        </div>
        
        </div>
       </section>
    </main>

  <footer class="bg-dark text-white mt-1" data-aos="fade-up">
    <div class="container py-4">
        <div class="row " >
            <div class="col-md-6 mt-4">
                <h5>Contact Us</h5>
                <p class="m-4">
                    <strong>Techy Software Company</strong><br>
                    Office No. 101,<br>
                    Tech Park, 5th Floor,<br>
                    123 Tech Lane,<br>
                    Near MG Road,<br>
                    Bangalore, Karnataka 560001,<br>
                    India<br>
                    <div class="m-3">
                    <strong>Email:</strong> <a href="mailto:vigneshvignesh0822@gmail.com" class="text-white text-decoration-none">vigneshvignesh0822@gmail.com</a><br>
                    <strong>Phone:</strong> <a href="tel:+919344060698" class="text-white text-decoration-none">+91 9344060698</a>
                  </div>
                </p>
            </div>

            <!-- social medias to follow our company-->
            <div class="col-md-6 social-media" id="social">
            <div style="margin-top: 30px;">
              <h5>Follow Us</h5>
              <a href="https://www.youtube.com" target="_blank">
                <img src="{% static 'images/yout.jpg' %}" alt="You tube"   >
              </a>
              <a href="https://www.facebook.com/yourprofile" target="_blank">
                <img src="{% static 'images/fb1.png' %}" alt="Facebook"   >
              </a>
              <a href="https://www.twitter.com/yourprofile" target="_blank">
                <img src="{% static 'images/tw.png' %}" alt="twitter"   >
              </a>
              <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
                <img src="{% static 'images/linked.png' %}" alt="Linkedin" >
              </a>
              <a href="https://www.instagram.com/yourprofile" target="_blank">
                <img src="{% static 'images/insta1.jpg' %}" alt="Instagram"   >
              </a>
            </div><br>
            <hr>


            <!-- navbar sectio at footer-->

            
              <div class="d-flex">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'service' %}">Product/Service</a>

                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                  </li>
                </ul>
              </div>
              
            </div>
            
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Techy Software Company. All rights reserved.</p>
        </div>
    </div>
  </footer> 

    <!-- Include Bootstrap Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js"></script>
  <script>
    AOS.init(
      {
        duration: 1000,
      }
    );
  </script>
</body>
</html>
