{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <meta name="description" content="Explore the diverse range of products and services offered by Techy Software Company, including Cloud Computing, AI Solutions, Cybersecurity, Blockchain Technology, and more.">
    <meta name="keywords" content="Techy Software, Products, Services, Cloud Computing, AI Solutions, Cybersecurity, Blockchain Technology, Data Analytics, DevOps, Mobile App Development, Web Development">
    <meta name="author" content="Techy Software Company">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.techysoftware.com/products-and-services">
    <title>Our Products and Services - Techy Software Company</title>
    
    <!--Bootstrap link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- animation js link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.css">

    <!--google font link-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  

    <style>
        body {
            background: linear-gradient(135deg, #6a11cb, #2575fc);
            font-family: "Poppins", sans-serif;
         }

        #about {
          padding: 20px;
          border-radius: 8px;
        }
        
        h1, h2 {
          margin-bottom: 20px;
        }
        

        #home{
          background: url('{% static "images/bg11.jpg" %}') no-repeat center center;
          background-size: cover; 
          width:100%;
          backdrop-filter: blur(10px);
          height: 580px;
          margin-top: 60px;
          text-align: center;
        }
        
        .bannertext {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 580px;
          width: 100%;
          background-color: rgba(20, 20, 20, 0.33);
          background: rgba(234, 234, 234, 0);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(2.3px);
          -webkit-backdrop-filter: blur(2.3px);
          border: 1px solid rgba(234, 234, 234, 0.61);
        }
        .h1 {
          font-size: 40px;
          font-weight: 900;
          text-shadow: 3px 4px 3px rgba(0,0,0,0.53);
          color: white;
          -webkit-text-stroke: 2pt black;
        }

        .h2{
          -webkit-text-stroke: 1pt black;
            
        }

        .responsive-img {
          width: 100%;      
          height:100%%;     
          object-fit: cover; 
          max-width: 100%;   
          max-height: 100%;  
      }

        .card {
            transition: transform 0.3s;
            border: none;
            border-radius: 15px;
        }
        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
        }
        .fade-in {
            opacity: 0;
            animation: fadeIn 1s forwards;
        }
        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }

        .social-media img {
          width: 40px; 
          height: 40px; 
          border-radius: 50%; 
          margin: 0 5px; 
        }
  
        .social-media img:hover {
          border-color: #66afe9;
          box-shadow: -1px -2px 24px 3px rgba(0,255,255,1);
          transition: 2s;
        }

    </style>
</head>
<body>
    <header class=" justify-content-center align-items-center">
        <div class="container-fluid head" >
            <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
                <div class="container">
                    <!-- logo -->
                  <a class="navbar-brand fs-4" href="#">Techy Softwares</a>

                  <!-- toggle button -->
                  <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>

                  <!--side bar-->
                  <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Techy Softwares</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item mx-2">
                          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{% url 'about' %}">About us</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{% url 'service' %}">Product/Service</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item mx-2">
                          <a class="nav-link px-3 py-1  rounded-4" style="background-color: #1871ff; color:white;" href="#social">Our Social Media Presence</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </nav>
        </div>
        <section id="home" class="banner_wrapper ">
          <div class="bannertext">
            <div>
              <p class="h1">We are Committed to your success, we offer personalized services designed to meet your specific goals and objectives</p>
              <br>
              <p class="h2 text-light  ">Focused on your needs, driven by results.</p>
              <br>  
              <a class="btn btn-dark" href="{% url 'about' %}">Who We Are ?</a>
            </div>            
          </div>
        </section>
    </header>

    <div class="container-fluid mt-3 mb-4 bg-light" id="Ser" data-aos="fade-up">
        <h1 class="text-center mb-4 fade-in">Our Products and Services</h1>
        <div id="serviceCarousel" class="carousel slide " data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                      <div class="col-md-3">
                        <div class="card fade-in">
                            <img src="{% static 'images/cloud.jpg' %}" class="card-img-top img-fluid" alt="Cloud Computing">
                            <div class="card-body">
                                <h5 class="card-title">Cloud Computing</h5>
                                <p class="card-text">Scalable and secure cloud solutions tailored for your business needs.</p>
                                <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>

                            </div>
                        </div>
                    </div>
                    
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/ai1.jpeg' %}" class="responsive-img card-img-top" alt="AI Solutions">

                                <div class="card-body">
                                    <h5 class="card-title">AI Solutions</h5>
                                    <p class="card-text">Leverage artificial intelligence to enhance efficiency and drive innovation.</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/cyber-security.jpeg' %}" class="responsive-img card-img-top" alt="Cybersecurity">
                                <div class="card-body">
                                    <h5 class="card-title">Cybersecurity</h5>
                                    <p class="card-text">Protect your digital assets with cutting-edge security solutions. Advanced encryption protocols</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/block.webp' %}" class="responsive-img card-img-top" alt="Blockchain Technology">
                                <div class="card-body">
                                    <h5 class="card-title">Blockchain Technology</h5>
                                    <p class="card-text">Innovative blockchain solutions for transparency and efficiency in transactions.</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/data-analytics.jpg' %}" class="responsive-img card-img-top" alt="Data Analytics">
                                <div class="card-body">
                                    <h5 class="card-title">Data Analytics</h5>
                                    <p class="card-text">Transform data into actionable insights to drive your business forward.</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/devops.jpg' %}" class="responsive-img card-img-top" alt="DevOps Services">
                                <div class="card-body">
                                    <h5 class="card-title">DevOps Services</h5>
                                    <p class="card-text">Streamline development and operations for faster delivery and improved collaboration.</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/mobile-app.png' %}" class="responsive-img card-img-top" alt="Mobile App Development">
                                <div class="card-body">
                                    <h5 class="card-title">Mobile App Development</h5>
                                    <p class="card-text">Build engaging mobile applications that enhance user experiences and applications to users.</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card fade-in">
                                <img src="{% static 'images/web-dev1.jpg' %}" class="responsive-img card-img-top" alt="Web Development">
                                <div class="card-body">
                                    <h5 class="card-title">Web Development</h5>
                                    <p class="card-text">Create robust and scalable web solutions tailored to your business needs.</p>
                                    <a href="{% url 'potential_customer' %}" class="btn btn-light text-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#serviceCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#serviceCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <footer class="bg-dark text-white mt-1" data-aos="fade-up">
        <div class="container py-4">
            <div class="row " >
                <div class="col-md-6 mt-4">
                    <h5>Contact Us</h5>
                    <p class="m-4">
                        <strong>Techy Software Company</strong><br>
                        Office No. 101,<br>
                        Tech Park, 5th Floor,<br>
                        123 Tech Lane,<br>
                        Near MG Road,<br>
                        Bangalore, Karnataka 560001,<br>
                        India<br>
                        <div class="m-3">
                        <strong>Email:</strong> <a href="mailto:vigneshvignesh0822@gmail.com" class="text-white text-decoration-none">vigneshvignesh0822@gmail.com</a><br>
                        <strong>Phone:</strong> <a href="tel:+919344060698" class="text-white text-decoration-none">+91 9344060698</a>
                      </div>
                    </p>
                </div>
    
                <!-- social medias to follow our company-->
                <div class="col-md-6 social-media" id="social">
                <div style="margin-top: 30px;">
                  <h5>Follow Us</h5>
                  <a href="https://www.youtube.com" target="_blank">
                    <img src="{% static 'images/yout.jpg' %}" alt="You tube"   >
                  </a>
                  <a href="https://www.facebook.com/yourprofile" target="_blank">
                    <img src="{% static 'images/fb1.png' %}" alt="Facebook"   >
                  </a>
                  <a href="https://www.twitter.com/yourprofile" target="_blank">
                    <img src="{% static 'images/tw.png' %}" alt="twitter"   >
                  </a>
                  <a href="https://www.linkedin.com/in/yourprofile" target="_blank">
                    <img src="{% static 'images/linked.png' %}" alt="Linkedin" >
                  </a>
                  <a href="https://www.instagram.com/yourprofile" target="_blank">
                    <img src="{% static 'images/insta1.jpg' %}" alt="Instagram"   >
                  </a>
                </div><br>
                <hr>
    
    
                <!-- navbar sectio at footer-->
    
                
                  <div class="d-flex">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      <li class="nav-item mx-2">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'about' %}">About us</a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'service' %}">Product/Service</a>
                      </li>
                      <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                      </li>
                    </ul>
                  </div>
                  
                </div>
                
            </div>
            <hr class="bg-light">
            <div class="text-center">
                <p class="mb-0">&copy; 2024 Techy Software Company. All rights reserved.</p>
            </div>
        </div>
    </footer>

    <!--script links-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.1/aos.js"></script>
    <script>
      AOS.init(
        {
          duration: 1000,
        }
      );
    </script>
</body>
</html>
